.one {
	height: 20px;
	width: 20px;
	background-color: blue;
}
.two {
	height: 20px;
	width: 20px;
	background-color: green;
}
.three {
	height: 20px;
	width: 20px;
	background-color: yellow;
}
.four {
	height: 20px;
	width: 20px;
	background-color: red;
}
.five {
	height: 20px;
	width: 20px;
	background-color: purple;
}
.six {
	height: 20px;
	width: 20px;
	background-color: orange;
}